/* General styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #f8f8f8;
  color: #333;
  height: 100%;
  overflow-x: hidden; /* Allow vertical scrolling */
}

/* Header Styles */
#home-header {
  height: 20vh; /* 20% of the viewport height */
  background-color: #343a40;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#home-header h1 {
  font-size: 3em;
}

#home-header p {
  font-size: 1.5em;
}

/* Header Navigation */
.nav {
  margin-top: 15px;
}

.nav-link {
  font-size: 1.2em;
  padding: 10px;
}

/* Menu section styles */
.menu-section {
  padding: 60px 0;
  background-color: #f8f9fa;
}

.menu-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.menu-item {
  width: 300px;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.3s;
}

.menu-item:hover {
  transform: scale(1.05);
}

.menu-item img {
  width: 100%; /* Full width of the menu item container */
  height: 200px; /* Fixed height for all images */
  object-fit: cover; /* Ensures proper aspect ratio without stretching or distortion */
  transition: opacity 0.3s ease;
}

.menu-item .details {
  padding: 15px;
  text-align: center;
}

.roll-name {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 10px 0;
}

.description {
  font-size: 1rem;
  color: #555;
}

/* Load more button styles */
.load-more-btn {
  background-color: #343a40;
  color: white;
  padding: 10px 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.2rem;
  transition: background-color 0.3s;
}

.load-more-btn:hover {
  background-color: #495057;
}

/* Modal styles */
.modal-content {
  border-radius: 8px;
}

.modal-body img {
  max-height: 400px;
  object-fit: cover;
}

/* Footer styles */
footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px 0;
}

footer p {
  margin-bottom: 10px;
}

footer p:last-child {
  font-size: 0.9rem;
}
